{
  "MAP_LIVE_DATA": "false",
  "EFFIS_BASE_URL": "https://ies-ows.jrc.ec.europa.eu/",
  "EFFIS_WFS_LAYER_ACTIVE": "effis:ba.curryear",
  "GOOGLE_MAPS_API_KEY_ANDROID": "YOUR_ANDROID_API_KEY_HERE",
  "GOOGLE_MAPS_API_KEY_IOS": "YOUR_IOS_API_KEY_HERE",
  "GOOGLE_MAPS_API_KEY_WEB": "YOUR_WEB_API_KEY_HERE"
}
