{
  "DEV_MODE": "true",
  "MAP_LIVE_DATA": "false",
  "TEST_REGION": "scotland",
  "EFFIS_BASE_URL": "https://maps.effis.emergency.copernicus.eu/",
  "EFFIS_WFS_LAYER_ACTIVE": "ms:modis.ba.poly",
  "FIRMS_API_KEY": "YOUR_FIRMS_MAP_KEY_HERE",
  "GOOGLE_MAPS_API_KEY_ANDROID": "YOUR_ANDROID_API_KEY_HERE",
  "GOOGLE_MAPS_API_KEY_IOS": "YOUR_IOS_API_KEY_HERE",
  "GOOGLE_MAPS_API_KEY_WEB": "YOUR_WEB_API_KEY_HERE",
  "GOOGLE_MAPS_GEOCODING_API_KEY": "YOUR_GEOCODING_API_KEY_HERE",
  "WHAT3WORDS_API_KEY": "YOUR_W3W_KEY_HERE"
}
