{
  "DEV_MODE": "false",
  "MAP_LIVE_DATA": "true",
  "TEST_REGION": "scotland",
  "EFFIS_BASE_URL": "https://ies-ows.jrc.ec.europa.eu/",
  "EFFIS_WFS_LAYER_ACTIVE": "effis:ba.curryear",
  "GOOGLE_MAPS_API_KEY_ANDROID": "YOUR_PROD_ANDROID_API_KEY_HERE",
  "GOOGLE_MAPS_API_KEY_IOS": "YOUR_PROD_IOS_API_KEY_HERE",
  "GOOGLE_MAPS_API_KEY_WEB": "YOUR_PROD_WEB_API_KEY_HERE",
  "GOOGLE_MAPS_GEOCODING_API_KEY": "YOUR_PROD_GEOCODING_API_KEY_HERE",
  "WHAT3WORDS_API_KEY": "YOUR_PROD_W3W_KEY_HERE"
}
